@{
    ViewBag.Title = "Consultant";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>相談窓口</h2>

<a href="http://www.npa.go.jp/safetylife/seianki31/soudan.html" class="btn btn-link" style="font-size:18px" target="_blank">警視庁の相談窓口ページ</a>

※位置情報を取得して提案するようにする予定
