@{
    ViewBag.Title = "Enemy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3>電話の相手</h3>
    <div class="bs-docs-example">
        <strong>
        息子や孫
        </strong>
    </div>
    <div class="bs-docs-comment">
        息子や孫を装い、
        「風邪を引いたから声が変なんだ。」「電話番号がかわったので、登録しておいて」と電話の後、
            <ul>
                <li>会社のお金が入ったバックを電車内に置き忘れた。</li>
                <li>友達の借金の保証人になっていて、支払わなければならない。</li>
            </ul>
        等、お金が急に必要になったと告げて、振り込みを依頼したり、　「知人（バイク便等）に取りに行かせるから渡して」　と自宅等で現金の手渡しを指示します。<br/>
        <p  class="text-error">
            「代わりの者（仲間）がお金を受け取りに行く。」という話を聞いたら、振り込め詐欺を疑い、決して現金やキャッシュカードを渡さないでください。
        </p>
    </div>
    <br/><br/>
    <div class="bs-docs-example">
        <strong>
        警察官・銀行員
        </strong>
    </div>
    <div class="bs-docs-comment">
        おれおれ詐欺という名前が一般的になり誤解されがちですが、相手が身内を名乗るとは限りません！<br/>
        ○○警察・刑事課の○○です。
        <ul>
            <li>あなたの口座が振り込め詐欺に使われています。このままだと預金が下ろせなくなる。銀行協会の職員を伺わせます。</li>
            <li>拾得物の中からあなた名義のカードが出てきました。</li>
        </ul>
        等と言って、言葉巧みに通帳とキャッシュカードを受け取りに来ます。<br/>
        更に、手続きをスムーズに行うために等と言ってキャッシュカードの暗証番号を聞き出します。<br/>
        <p  class="text-error">
            警察官が「カードを預かる」「暗証番号を聞き出す」ことは絶対にありませんので、
            このような電話があったら、すぐに最寄りの警察署又は110番に通報してください！！
        </p>
    </div>

    <br/><br/>
    <div class="bs-docs-example">
        <strong>
        市役所職員
        </strong>
    </div>
    <div class="bs-docs-comment">
        市役所や社会保険事務所の職員を名乗り、「税金の還付金がある。」等と言葉巧みに話し、現金を振り込ませようとします。
        <p  class="text-error">
            市役所の職員や社会保険事務所の職員が、「還付金を返すからATMに行け」ということはありません！
        </p>
    </div>

<br/>
<br/>