@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-header">
  <h1>Stop!振り込め詐欺</h1>
  <p>騙されてしまうその前に、確認しましょう！</p>
</div>

<br/><br/>
<div class="media">

    <a class="pull-left" href="#">
        <img src="~/Content/images/iconmonstr-police-icon.png" class="media-object" width="64" height="64"/>
    </a>
    <div class="media-body" >
        <h4 class="media-heading"><a href="/Default/Enemy" class="btn btn-link" style="font-size:18px">Step 1.電話の相手</a></h4>
        <p style="margin-left:15px">相手がなりすます人物・職業にはいくつかのパターンがあります。代表的なものを掲載していますので、確認してください！</p>
        <br/>
    </div>

    <a class="pull-left" href="#">
        <img src="~/Content/images/iconmonstr-book-11-icon.png" class="media-object" width="64" height="64"/>
    </a>
    <div class="media-body" >
        <h4 class="media-heading"><a href="/Default/Address" class="btn btn-link" style="font-size:18px">Step 2.相手の連絡先</a></h4>
        <p style="margin-left:15px">
            これまで詐欺に使用された電話番号や現金送付先の住所などをまとめています。<br/>
            かかってきた電話番号、指定された住所がこの中にないか、確認してください！
        </p>
        <br/>
    </div>

    <a class="pull-left" href="#">
        <img src="~/Content/images/iconmonstr-phone-3-icon.png" class="media-object" width="64" height="64"/>
    </a>
    <div class="media-body" >
        <h4 class="media-heading"><a href="/Default/Consultant" class="btn btn-link" style="font-size:18px">Step 3.相談窓口</a></h4>
        <p style="margin-left:15px">少しでも怪しいと感じたら、警察に相談してください。<br/>
           １１０番が基本ですが、地方警察署の窓口を掲載しています。
        </p>
        <br/>
    </div>

    <a class="pull-left" href="#">
        <img src="~/Content/images/iconmonstr-virus-injection-icon.png" class="media-object" width="64" height="64"/>
    </a>
    <div class="media-body" >
        <h4 class="media-heading"><a href="/BlackList/Create" class="btn btn-link" style="font-size:18px">Step 4.予防</a></h4>
        <p style="margin-left:15px">
            怪しい電話などがあった場合、その番号を登録していただくことで犯罪を未然に防止することができます。<br/>
        </p>
        <br/>
    </div>


</div>

